h1 {
	color: orange;
	text-align: center;
}
/* type selector */
p {
	font-size: 130%;
}

/* ID selector */
#intro {
	background-color: orange;
}

/* Class selector */
.first {
	font-size:200%;
}

#intro .first{
	color: red;
}

#intro .first em{
	color: green;
}